.searchBar {
    height: 40px;
    width: 100%;
    max-width: 400px;
    border: unset;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.searchBarIcon {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
}

.searchBarInput {
    height: 100%;
    width: 100%;
    padding-left: 40px;
    border: unset;
}