.searchBarWrapper {
    width: 100%;
    height: 100%;
}

.searchBarForm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    column-gap: 10px;
}

.searchBar {
    height: 50px;
    width: 100%;
    max-width: 400px;
    border: unset;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.searchBarIcon {
    position: absolute;
    left: 20px;
    top: 15px;
    height: 15px;
    width: 15px;
}

.searchBarInput {
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;
    border: unset;
    font-size: 14px;
    color: var(--neutral-0);
}

.searchBtn {
    background-color: var(--blue-500);
    border: unset;
    height: 100%;
}

.searchBarResults {
    background-color: var(--neutral-800);
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 99999;
}